on:
  workflow_call:
    inputs:
      pnpm_version:
        description: "Optional pnpm version"
        required: false
        type: string
        default: "7.12.2"

      bun_version:
        description: "Optional bun version"
        required: false
        type: string
        default: "latest"

      node_version:
        description: "The Node version to download (if necessary) and use."
        required: false
        type: string
        default: "latest"

      registry_url:
        description: "Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN."
        required: false
        type: string

      scope:
        description: "Optional scope for authenticating against scoped registries."
        required: false
        type: string
      base_ref:
        description: "Optional scope for authenticating against scoped registries."
        required: false
        type: string
        default: 'main'
jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.0.2

      - uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd #2.2.4
        if: github.event_name == 'push'
        with:
          version: ${{ inputs.pnpm_version }}
    
